* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: linear-gradient(.25turn, lightskyblue, royalblue);
    color: white;
    text-align: center;
    align: top;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 35px;

}

header h1 {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 30px;
margin: 15px;
}

.btn {
    width: 100%;
    background-color: lightskyblue;
}

#weatherSummary {
    border: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    min-height: 200px;
    padding: 0px;
    align: top;
}

.forecastCard {
    background-color: royalblue;
    color: white;
    margin: 10px;
    border-radius: 5px;

}

.uvIdx {
    height: 25px;
    background-color: aquamarine;
    color: white;
    width: 40px;

}

.summaryIcon {
    /* float: left */
    /* float: top; */
    margin-left: 5px;
    color: black;
}


#searchBtn ::hover {
    background-color: royalblue;
}

#searchBtn ::active {
    background-color: royalblue;
}